.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;       
}
#project{
    padding-top: 7%;

}
    
.project__item {
    
    padding: 1.3rem 1.3rem 0rem 1.3rem; 
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);

}


.project__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 60%;              
    height:25%;            
    margin-left: 3.3rem;
}

.project__item h3 {
    text-align: center;
    margin: 1.5rem 0 1rem;

}

.project__item p {    
    font-size: 0.9rem;
    color: var(--color-light);
}

.project__item-cta {
    display: flex;
    justify-content: center;
}

.project__item-content {
    height: 49%;
}
.project__item:hover{
    border-color: var(--color-hover);

}

@media screen and (max-width: 1024px){
    .project__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .project__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}