.about__container {    
    height: 0vh;
}
#about{
padding-top: 5.5rem;
}
.about__content p {
    color: var(--color-light);
    text-indent: 40px;
}

.highlight {
    font-weight: bold;
    background: linear-gradient(to right,  #19bb98, #60a5fa); 
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent; 
    white-space: nowrap;
  }
  
  
@media screen and (max-width: 1024px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}
  
@media screen and (max-width: 600px){    
    #about{
        padding-top: 2rem;
        }
    .about__content {
        text-align: center;
    }
    .about__content p {
        margin: 1.5rem 0;
        text-align: left;
    }
}