nav {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .1rem 1.7rem;
  z-index: 300;
  position: fixed;
  top: 0; 
  left: 0;
  gap: 1.5rem;
  border-radius: 0; 
  -webkit-backdrop-filter: blur(15px); 
  backdrop-filter: blur(15px);            
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex; 
  color: var(--color-light); 
  font-size: 1.3rem; 
  text-decoration: none; 
}

nav a:hover {
  color:var(--color-hover)
}

nav a.active {
  
  color: var(--color-white);
}
@media (max-width: 600px) {
  nav{    
    display: flex;  
    justify-content: center;
    bottom: 0; 
    top: unset; 
    height: 50px;
    gap: 0.4rem;
  }
  nav a{
    padding: 0.1rem;  
    font-size: 1rem;
  }
}