footer {
    background: var(--color-primary-variant);
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
}


.footer__socials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 0.srem;
    color: var(--color-bg);
}
  
@media screen and (max-width: 600px){
    
    footer {
        padding-bottom: 3.7rem;
        font-size: 1rem; 
    }
    
    .footer__socials {
        margin-bottom: 0.4 rem;
    }
}